/bower_components
!/bower_components/scribe-plugin-inserthtml-command
!/bower_components/scribe-plugin-insertimage-command
!/bower_components/scribe-plugin-inserttable-command
!/bower_components/scribe/